apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: laravel
  name: laravel
spec:
  replicas: 2
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      containers:
        - image: devopsapril/app-laravel:v1
          env:
            - name: APP_NAME
              value: Laravel
            - name: APP_ENV
              value: local
            - name: APP_DEBUG
              value: "false"
            - name: APP_KEY
              value: "base64:xYPaME/4NNcy/wfshBLPyjVYRgXOMxCLIJEeB8B21E4="
            - name: DB_CONNECTION
              value: mysql
            - name: DB_HOST
              value: "mysql-master"
            - name: DB_PORT
              value: "3306"
            - name: DB_DATABASE
              value: "bootcamp"
            - name: DB_USERNAME
              value: "bootcamp"
            - name: DB_PASSWORD
              value: "bootcamp"
            - name: SESSION_DRIVER
              value: "redis"
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PASSWORD
              value: "123456"
            - name: REDIS_PORT
              value: "6379"
            - name: MINO_ACCESS_KEY_ID
              value: minio
            - name: MINIO_SECRET_ACCESS_KEY
              value: minio123
            - name: MINIO_BUCKET
              value: Laravel
            - name: MINIO_URL
              value: "http://minio:9000"
            - name: MINIO_ENDPOINT
              value: "http://minio:9000"
            - name: LOGSTASH_HOST
              value: "122.248.217.58"
            - name: LOGSTASH_PORT
              value: "5000"
            - name: LOG_CHANNEL
              value: logstash
          name: app
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: 250m
            requests:
              cpu: 100m
      restartPolicy: Always
status: {}
